@model FSharpWebAppFromTemplate.ViewModel.EmployeeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    HELLO

    <br />

    @Model.FirstName
</head>
<body>
</body>
</html>
