@model FSharpWebAppFromTemplate.ViewModel.EmployeeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>

    <style type="text/css" media="screen">
        .FieldTitle
        {
            font-weight:bold;
            padding-right: 5px;
        }
    </style>

</head>
<body>
    <h1>Employee Details</h1>

    <br />

    <span class="FieldTitle">Id:</span>
    @Model.Id
    <br />

    <span class="FieldTitle">First Name:</span>
    @Model.FirstName
    <br />

</body>
</html>
