@model FSharpWebAppFromTemplate.ViewModel.EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees List</title>
</head>
<body>
    <table style="border: solid 1px black;">
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
        </tr>


        @foreach(var curEmployee in Model.Employees)
        {
            
            <tr>
                <td>
                    @Html.ActionLink(curEmployee.Id.ToString(), "Details", "Employee", new { id = curEmployee.Id}, null)

                </td>
                <td>
                    @curEmployee.FirstName
                </td>
            </tr>
            
        }

    </table>

</body>
</html>
