@model FSharpWebAppFromTemplate.ViewModel.EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees List</title>

    <style type="text/css" media="screen">
        table
        {
            border-collapse:collapse;
            border: solid 1px black;
            text-align:center;
            vertical-align:middle;
            padding: 3px;
        }

        table td
        {
            border: solid 1px black;
            text-align:center;
            vertical-align:middle;
            padding: 3px;
        }

        table th 
        {
            border: solid 1px black;
            text-align:center;
            vertical-align:middle;
            padding: 3px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
        </tr>


        @foreach(var curEmployee in Model.Employees)
        {
            
            <tr>
                <td>
                    @Html.ActionLink(curEmployee.Id.ToString(), "DetailsWithPrediction", "Employee", new { id = curEmployee.Id}, null)

                </td>
                <td>
                    @curEmployee.FirstName
                </td>
            </tr>
            
        }

    </table>

</body>
</html>
