@model FSharpWebAppFromTemplate.ViewModel.EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees List</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
        </tr>


        @foreach(var curEmployee in Model.Employees)
        {
            
            <tr>
                <td>@curEmployee.Id</td>
                <td>@curEmployee.FirstName</td>
            </tr>
            
        }

    </table>

</body>
</html>
