@model FSharpWebAppFromTemplate.ViewModel.EmployeeListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees List</title>
</head>
<body>

    
    @Model.Employees.Length
    
</body>
</html>
