@model FSharpWebAppFromTemplate.Controllers.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloWorld</title>
</head>
<body>
    <h1>
        Hello, @Model.Name World.
    </h1>
</body>
</html>
